{% extends 'base.html' %}
{% load static %}

{% block style %}
    <link rel="stylesheet" href="{% static 'blog/css/main.css' %}">
{% endblock style %}
    

{% block title %}
Login
{% endblock title %}

{% block content %}

<div class="box">
    <h1>Hello!</h1>
    <p>Sign to your account here.</p>
    <form method="POST">
        {% csrf_token %}
        <div class="inputBox">
            <div class="inputBox">
                <input type="text" name="username" required onkeyup="this.setAttribute('value', this.value);" value="">
                <label>Username</label>
            </div>
            <div class="inputBox">
                <input type="password" name="password" required onkeyup="this.setAttribute('value', this.value);"
                    value="">
                <label>Password</label>
            </div>
            {{form.non_field_errors}}
        </div>
        <input type="submit" value="Login" />
    </form>
    <a style="text-decoration: none; color: #1a73e8; padding: 0.625rem 0.25rem;" href="{% url 'register' %}">Create Account</a>
</div>

{% endblock content %}