{% extends 'base.html' %}

{% block title %}
Create a new post
{% endblock title %}

{% block content %}

{% if user.is_authenticated %}
<h1>Add Post.</h1>
<div class="form-group">
    <form method="POST" enctype="multipart/form-data">
        {% csrf_token %}
        {{ form.media }}
        {{ form.as_p }}
        <input type="submit" value="Post" class="btn btn-success">
    </form>
</div>

<script>
    var name = '{{ user.id }}';
    document.getElementById('logged_in_username').value = name;
</script>

{% else %}
<strong>
    <h1>Please Log-In To Add Post</h1>
</strong>
{% endif %}




{% endblock content %}