{% extends 'base.html' %}

{% block title %}
Edit {{ post.title }}
{% endblock title %}

{% block content %}
<h1>Edit Post.</h1>

{% if user.is_authenticated %}

    {% if user.id == post.author.id %}
    <div class="form-group">
        <form method="POST">
            {% csrf_token %}
            {{ form.media }}
            {{ form.as_p }}
            <input type="submit" value="Update" class="btn btn-success">
        </form>
    </div>
    {% else %}
        <h5>Your Not Authorized Here...</h5>
    {% endif %}

{% else %}
    <strong>
        <h1>Please Log-In To Edit The Post</h1>
    </strong>
{% endif %}

{% endblock content %}